/*info działki*/
body{
    background-image: url(./images/tlo.png);
    height: 100vh;
    padding-bottom: 50px;
}
nav {
    margin-left: 10px;
}

.main-info{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    transform: translate(50%,50%);
    background-color: rgba(190, 190, 190, 0.481);
    backdrop-filter: blur(10px);
    position: absolute;
    min-height: 50vh;
    width: 60vw;
    height: auto;
    border-radius: 30px;
    padding: 0 30px 30px 30px;
}
.info-content h1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px 0
}
.info-content p{
    font-size: 23px;
}
.info-content a{
    color: rgb(236, 236, 236);
    text-decoration: none;
    background-color: rgb(68, 70, 97);
    padding: 3px 6px 3px 6px;
    border-radius: 22px;
    transition: 0.3s;
}

.info-content a:hover{
    background-color: rgba(163, 255, 127);
    transition: 0.3s;
    color: black;
}
.info-content ul{
    list-style: none;
    margin:0;
    padding-left: 20px;
    border-left: 10px solid rgba(163, 255, 127);
}
.info-content ul li{
    margin-top: 12px;
    font-size: 22px;
}
.info-content p{
    margin-top: 30px;
}

@media (max-width: 1500px) {
    .main-bar{
        width: 100%;
       }
       
       .main-info{
        right: 50%;
        transform: translate(50%,50%);
        background-color: rgba(190, 190, 190, 0.481);
        backdrop-filter: blur(10px);
        position: absolute;
        min-height: 50vh;
        width: 60vw;
        height: auto;
        border-radius: 30px;
        padding: 0 30px 30px 30px;
    }
    .info-content h1{
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        margin: 20px 0 10px 0
    }
    .info-content a{
        color: rgb(236, 236, 236);
        text-decoration: none;
        background-color: rgb(68, 70, 97);
        padding: 2px 5px 2px 5px;
        border-radius: 10px;
        transition: 0.3s;
    }
    .info-content p{
        font-size: 20px;
    }
    .info-content a:hover{
        background-color: rgba(163, 255, 127);
        transition: 0.3s;
        color: black;
    }
    .info-content ul{
        list-style: none;
        margin:0;
        padding-left: 10px;
        border-left: 5px solid rgba(163, 255, 127);
    }
    .info-content ul li{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .main-bar{
     width: 100%;
     position: relative;
     margin-bottom: 0;
     }
 }
 
 @media (max-width: 800px) {
     .main-bar{
      width: 100%;
      position: relative;
      margin-bottom: 0;
      }
      .main-info{
        transform: translate(50%,0%);
        border-radius: 0 0 30px 30px;
        width: 80vw;
      }
      .info-content{
        width: 70vw;
        margin: auto;
      }
      .info-content p{
        font-size: 20px;
      }
      .info-content ul li{
        font-size: 20px;
      }
  }