/*jak zagrac*/
.main-content{
    width: 60vw;
    margin: auto;
    background-color: #bdbdbda8;
    backdrop-filter: blur(10px);
    height: 100%;
    height: auto;
    border-radius: 0 0 30px 30px;
    padding: 25vh 50px 100px 50px;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1{
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.card-container{
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: space-around;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(165, 165, 165);
    height: auto;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.card-image img{
    width: 400px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin: 0 10px 10px 10px
}

.card-content h1{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 380px;
    letter-spacing: 1px;
    text-align: center;
}

.card-content p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:7px;
    width: 380px;
}

.sub-content p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    line-height: 30px;
}

.sub-important{
    color: rgb(109, 255, 51);
    font-weight: bold;
}

button{
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    background-color: rgb(163, 255, 127);
    width: auto;
    height: auto;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
button a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s ease;
}

button:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

button:hover a{
    color: rgb(109, 255, 51);
}

/*media*/

@media (max-width: 500px) {
   .main-content{
    width: 90vw;
    margin: auto;
   }
   .content{
    margin-top: -15vh
   }
   .main-bar{
    width: 100vw;
    position: relative;
    margin-bottom: 0;
    }
    .card-container{
        margin: auto;
        justify-content: center;
    }
    .card{
        width: 90vw;
    }
    .card-image img{
        width: 90vw;
        height: auto;
    }
}

@media (max-width: 800px) {
    .main-content{
     width: 90vw;
     margin: auto;
    }
    .content{
     margin-top: -15vh
    }
    .main-bar{
     width: 100vw;
     position: relative;
     margin-bottom: 0;
     }
     .card-container{
         margin: auto;
         justify-content: center;
     }
     .card{
         width: 90vw;
     }
     .card-image img{
         width: 90vw;
         height: auto;
     }
     .card-content p{
        width: 90vw;
        text-align: center;
     }
 }