*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*info USUN POZNIEJ*/
/* Wyśrodkowanie zdjęcia */
.image-imperia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.image-imperia img {
    max-width: 800px;
    height: auto;
}

.info-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

nav a{
    text-decoration: none;
    color: black;
    background-color: red;
    border-radius:20px;
    padding: 15px 30px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
/*koniec*/
.main-bar{
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.075); /* Semi-transparent white */
    backdrop-filter: blur(20px);
    height: auto;
    box-shadow: 5px 10px 8px 10px #00000028;
    border-radius: 0 0 20px 20px;
    z-index: 1000; /* Ensure it's above other elements */ 
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
}
nav {
    margin-left: 10px;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .main-content{
     width: 90vw;
     margin: auto;
    }
    .content{
     margin-top: -15vh
    }
    .main-bar{
     width: 100vw;
     position: relative;
     margin-bottom: 0;
     }
     .card-container{
         margin: auto;
         justify-content: center;
     }
     .card{
         width: 90vw;
     }
     .card-image img{
         width: 90vw;
         height: auto;
     }
     .image-imperia{
        overflow: hidden;
     }
    }
 
 @media (max-width: 800px) {
     .main-bar{
      width: 100%;
      position: relative;
      margin-bottom: 0;
      }
  }

  @media (max-width: 1500px) {
    .main-bar{
     width: 100%;
     position: relative;
     margin-bottom: 0;
     }
 }